$color : green; 
body{
   padding:5rem;
}
.divi{
    width:30%;
    height:10rem;
    background-color: $color;
    margin:-4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;
    &:nth-child(even){
        background-color: blue
    }
    &:nth-child(odd){
        background-color: red
    }
    &:before{
        content: "1";
    }
}