<header>
    <nav class="navbar navbar-default nav-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#collapse-left" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
            <div class="collapse navbar-collapse" id="collapse-left">
                <ul class="nav navbar-nav navbar-left">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/home" >Account</a></li>
                    <li><a routerLink="/products">Products</a></li>
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="user-details "><img src="{{user.avatarUrl}}" alt="avatar" >Hello {{user.name}}</li>
                    <li class="nav-left-links"><app-register></app-register></li>      
                    <li class="nav-left-links"><app-login></app-login></li>        
                </ul>
            </div>
        </div>
    </nav>
</header>
    

