
div.dropdown-control{
    border: 1px solid silver;
    padding: 0.3rem;
    position: relative;
    min-height: 2rem;
    vertical-align: middle;
    line-height: 2rem;
}
.dropdown-control img{
    width:2rem;
    position: absolute;
    top: 0.95rem;
    right: 3rem;
}
div.dropdown-control span{
    cursor: pointer;
    position:absolute;
    top:6px;
    right:8px;
    
}
ul.dropdown{
    list-style: none;
    padding-left: 0;
    height:20rem;
    overflow: auto;
    border-bottom: 1px solid silver;
}
ul.dropdown li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.7rem;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver
}
ul.dropdown li div img{
    width:2rem;
}

.dropdown-selected{
    border: 1px solid silver;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.dropdown-selected img{
    width:2rem; 
}